<!-- products/templates/products/product_list.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Brand</th>
                <th>Actual Price</th>
                <th>Predicted Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.title }}</td>
                    <td>{{ product.brand }}</td>
                    <td>${{ product.discounted_price }}</td>
                    <td>${{ product.predicted_price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
