{% extends 'app/base.html' %}

{% block content %}



{% comment %} ###########
                                    using this page as a test
################ {% endcomment %}
 
<h2> Search Result </h2>
<hr>
<div class="container">
    <div class="row">
        {% if products %}
        {% for product in products %}
        <div class="col-sm-6 text-center align-self-center">
            <img src="{{product.product_image.url}}" alt="" class="img-fluid img-thumbnail">
        </div>
        <div class="col-sm-5 offset-sm-1">
         <h2>Product Title: {{product.title}}</h2>
         <hr>
         <p>{{product.description}}</p> <br>
         <h4>Tk: {{product.selling_price}}<small class="fw-light text-decoration-line-through">Tk: {{product.discounted_price}}</small></h4> <br>
    </div>
        {% endfor %}
        {% endif %}
        
</div>
</div>


{% endblock %}